[Unit]
Description=CM4all Passage
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=cm4all-passage
ExecStart=/usr/sbin/cm4all-passage

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=10ms

[Install]
WantedBy=multi-user.target
