Source: cm4all-passage
Section: non-free/admin
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 13.3~),
 meson (>= 1.0),
 g++ (>= 4:8),
 libc6-dev (>= 2.13),
 libfmt-dev (>= 9),
 libsystemd-dev,
 libluajit-5.1-dev,
 libgtest-dev,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/passage
Vcs-Git: git://github.com/CM4all/passage

Package: cm4all-passage
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd-sysv
Description: Passage daemon
 Passage is a daemon which allows jailed/containerized processes to
 talk to the host to trigger certain actions.

Package: cm4all-passage-client
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Passage client
 Passage is a daemon which allows jailed/containerized processes to
 talk to the host to trigger certain actions.
 .
 This package contains a simple and generic client.

Package: cm4all-passage-doc
Section: non-free/doc
Architecture: all
Built-Using: ${sphinxdoc:Built-Using}
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Documentation for cm4all-passage
 Passage is a daemon which allows jailed/containerized processes to
 talk to the host to trigger certain actions.
 .
 This package contains documentation.
